@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.min-vh-100 {
    min-height: 100vh;
}

.flex-fill {
    flex: 1;
}

.bg-dark {
    background-color: #0d1117 !important;
}

@import "./styles/NavbarComponent.css";
@import "./styles/HomePage.css";
@import "./styles/HeroSection.css";
@import "./styles/CardSwiper.css";
@import "./styles/FooterComponent.css";
@import "./styles/AuthPage.css";
@import "./styles/DiscoverSection.css";
@import "./styles/EventCard.css";
@import "./styles/ViewEvent.css";
@import "./styles/YourEvents.css";
