[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
boto3 = "*"
drf-api-logger = "*"
apscheduler = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
